/* header page */
header {
    width: 1020px;
    height: 90px;
    background-color: rgb(78, 160, 255);
    position: relative;
}
#pattern {
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 100%;
}
#logo {
    background-image: url(../img/logo.svg);
    background-size: cover;
    width: 235px;
    height: 50px;
    position: absolute;
    bottom: 15px;
}
/* /header page */

/* body page */
/* title */
main {
    width: 1020px;
}
h1{
    font-size: 40px;
}
h2 {
    font-size: 18px;
    color: rgb(128, 128, 128);
}
.color_blue {
    color: rgb(78, 160, 255);
}
.small_text {
    font-size: 15px;
}
/* /title */
/* text 1-2 */
p {
    font-size: 18px;
}
.color_yellow {
    background-color: yellow;
}
/* /text 1-2 */
/* table */
thead{
    color: white;
    background-color: rgb(32, 169, 229);
}
th {
    text-align: left;
}
.th_width {
    width: 200px;
}
.blue_cells {
    background-color: rgb(177, 229, 242);
}
/* /table */
/* /body page */

/* closing page */
#monitor {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    width: 312px;
    height: 208px;
}
#graph {
    background-image: url(../img/graph.jpg);
    background-size: cover;
    width: 312px;
    height: 208px;
}
.text_photo {
    color: white;
    text-align: center;
}
/* /closing page */