/* header page */
header {
    height: 130px;
    background-color: rgb(78, 160, 255);
    position: relative;
}
#pattern {
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 100%;
}
#logo {
    background-image: url(../img/logo.svg);
    background-size: cover;
    width: 275px;
    height: 70px;
    position: absolute;
    bottom: 15px;
}
/* /header page */

/* body page */
/* title */
h1{
    font-size: 60px;
}
h2 {
    font-size: 30px;
    color: rgb(128, 128, 128);
}
.color_blue {
    color: rgb(78, 160, 255);
}
.small_text {
    font-size: 20px;
}
/* /title */
/* images */
.tim_1_image {
    background-image: url(../img/tim-1.jpg);
    background-size: cover;
    width: 49%;
    height: 600px;
    display: inline-block;
}
.tim_2_image {
    background-image: url(../img/tim-2.jpg);
    background-size: cover;
    width: 49%;
    height: 600px;
    display: inline-block;
}
/* /images */
/* text 1-2 */
p {
    font-size: 28px;
}
.color_yellow {
    background-color: yellow;
}
/* /text 1-2 */
/* unordered list */
li {
    font-size: 28px;
}
/* /unordered list */
/* table */
thead{
    color: white;
    background-color: rgb(32, 169, 229);
}
th {
    text-align: left;
}
.th_width {
    width: 300px;
}
.blue_cells {
    background-color: rgb(177, 229, 242);
}
td{
    font-size: 28px;
}
/* /table */
/* /body page */

/* closing page */
#monitor {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
}
#graph {
    background-image: url(../img/graph.jpg);
    background-size: cover;
    width: 400px;
    height: 300px;
}
.text_photo {
    color: white;
    text-align: center;
}
/* /closing page */