/* header page */
#blu {
    width: 1020px;
    height: 90px;
    background-color: rgb(78, 160, 255);
}
#pattern {
    background-image: url(img/pattern.png);
    background-size: contain;
    height: 100%;
}
#logo {
    background-image: url(img/logo.svg);
    background-size: cover;
    width: 235px;
    height: 50px;
}
/* /header page */

/* body page */
/* title */
main {
    width: 1020px;
}
h1{
    font-size: 40px;
}
h2 {
    font-size: 18px;
    color: rgb(128, 128, 128);
}
.color_blue {
    color: rgb(78, 160, 255);
}
/* /title */
/* /body page */